<% const prevPost = neighbors && neighbors.prev ? neighbors.prev : null; %>
<% const nextPost = neighbors && neighbors.next ? neighbors.next : null; %>
<% if (prevPost || nextPost) { %>
  <nav class="pagination">
    <% if (prevPost) { %>
      <a href="<%- url_for(prevPost.path) %>">
        <span><%= __('ui.previous') %></span>
        <strong><%= prevPost.title %></strong>
      </a>
    <% } %>
    <% if (nextPost) { %>
      <a href="<%- url_for(nextPost.path) %>">
        <span><%= __('ui.next') %></span>
        <strong><%= nextPost.title %></strong>
      </a>
    <% } %>
  </nav>
<% } %>
