<section class="content-section">
  <header class="section-heading">
    <h1><%= page.title %></h1>
    <p><%= __('ui.tags_intro') %></p>
  </header>
  <div class="taxonomy-list taxonomy-tags">
    <% site.tags.sort('name').forEach(function(tag) { %>
      <a class="taxonomy-item" href="<%- url_for(tag.path) %>">
        <span>#<%= tag.name %></span>
        <span><%= tag.length %></span>
      </a>
    <% }) %>
  </div>
  <div class="article-body">
    <%- page.content %>
  </div>
</section>
